:root {
  --main-color: #0b0d17;
  --second-color: #d0d6f9;
  --white-color: #fff;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

body {
  margin: 0;
  font-family: "Bellefair", serif;
  background-color: var(--main-color);

  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white-color);
}
a:hover {
  color: var(--white-color);
}
h1 {
  color: var(--white-color);
  font-size: 150px;
  font-weight: 400;
  line-height: normal;
}
h2 {
  color: var(--white-color);
  font-size: 100px;
  font-weight: 400;
  line-height: normal;
}
h3 {
  color: var(--white-color);
  font-size: 56px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
h4 {
  color: var(--white-color);
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
h5 {
  color: var(--second-color);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
}
.subheading1 {
  color: var(--white-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.subheading2 {
  color: var(--second-color);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}
p {
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.flex {
  display: flex;
  gap: 1rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
