:root {
  --main-color: #0b0d17;
  --second-color: #d0d6f9;
  --white-color: #fff;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

/* Start header */
.logo {
  margin: 2rem;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  position: relative;
}
.primary-navigation::before {
  content: "";
  position: absolute;
  width: 23rem;
  height: 0.0625rem;
  opacity: 0.2515;
  background: var(--white-color);
  left: -39%;
  top: 50%;
  transform: translateY(-50%);
}
.primary-navigation li {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
  position: relative;
  transition: 0.3;
}
.primary-navigation li.active::before {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 0.1875rem;
  background: var(--white-color);
  bottom: -170%;
  left: 50%;
  transform: translate(-50%);
  display: block;
}
.primary-navigation li:not(.active):hover::before {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 0.1875rem;
  background: var(--white-color);
  opacity: 0.5;
  bottom: -170%;
  left: 50%;
  transform: translate(-50%);
  display: block;
}
.primary-navigation a > span {
  font-weight: bold;
  margin-inline-end: 0.75rem;
}
@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation::before {
    display: none;
  }
  .primary-navigation li {
    margin-bottom: 2em;
  }
  .primary-navigation li.active::before {
    display: none;
  }
  .primary-navigation li:not(.active):hover::before {
    display: none;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url("../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    display: block;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/shared/icon-close.svg");
  }
}
@media (min-width: 35em) and (max-width: 58em) {
  .primary-navigation a > span {
    display: none;
  }
  .primary-navigation::before {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 7vw, 10rem);
  }
  .primary-navigation::before {
    display: none;
  }
  .primary-navigation li {
    margin-right: clamp(1.5rem, 5vw, 3rem);
  }
  .primary-navigation li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 75em) {
  .primary-navigation::before {
    display: block;
  }
}
/* End header */
/* Start Main -home- */
.primary-content {
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}
.primary-content .container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.primary-content .container .text {
  display: inline-flex;
  padding-right: 0.3125rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 470px;
}
.primary-content .container .text p {
  color: var(--second-color);
}
.primary-content .container .holder a .circul {
  width: 17.125rem;
  height: 17.125rem;
  display: flex;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.primary-content .container .holder a .circul::before {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background: var(--white-color);
  top: 0;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.primary-content .container .holder a .circul:hover::before {
  animation: circul 0.8s ease-out;
  animation-fill-mode: forwards;
}
.primary-content .container .holder a .circul h4 {
  color: var(--main-color);
}

@media (min-width: 35em) {
  .primary-content .container {
    gap: 200px;
  }
  .primary-content .container .text {
    text-align: center;
    gap: 1rem;
  }
  .primary-content .container .text h5 {
    color: var(--second-color);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875rem;
  }
  .primary-content .container .text p {
    color: var(--second-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
  }
}
@media (max-width: 75em) {
  .primary-content .container {
    gap: 200px;
    flex-direction: column;
  }
  .primary-content .container .text {
    text-align: center;
    gap: 1rem;
  }
  .primary-content .container .text h5 {
    color: var(--second-color);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875rem;
  }
  .primary-content .container .text p {
    color: var(--second-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
  }
}
@keyframes circul {
  from {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }
  to {
    width: 28.125rem;
    height: 28.125rem;
    opacity: 0.1036;
  }
}
/* End Main */
/* Start main destination */
.primary-content.distination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  min-height: 0;
  padding: 0;
  height: fit-content;
  padding-bottom: 4%;
}
.primary-content.distination section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 500px;
}
.primary-content.distination section:first-child h5 {
  display: inline-flex;
  gap: 1.75rem;
  font-size: 1.67rem;
  margin: 10px 0;
}
.primary-content.distination section:first-child h5 span {
  opacity: 0.25;
}
.primary-content.distination section:first-child img {
  margin: 30px 0 0;
}
.primary-content.distination section:last-child {
  align-self: center;
  justify-self: center;
  width: 500px;
}
.primary-content.distination section:last-child nav ul {
  display: flex;
  width: 350px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.primary-content.distination section:last-child nav ul li {
  color: var(--white-color);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16875rem;
  position: relative;
}
.primary-content.distination section:last-child nav ul li.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: var(--white-color);
  bottom: -19px;
}
.primary-content.distination section:last-child p {
  color: var(--second-color);
}
.primary-content.distination section:last-child hr {
  width: 100%;
  height: 0.0625rem;
  background: #383b4b;
  border: none;
  margin-top: 3.38rem;
}
.primary-content.distination section:last-child #numerical-info {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-content.distination section:last-child #numerical-info div {
  flex-grow: 1;
}
.primary-content.distination section:last-child #numerical-info div h6 {
  margin-bottom: 10px;
}
/* End main destination */
