:root {
  --main-color: #0b0d17;
  --second-color: #d0d6f9;
  --white-color: #fff;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

/* Start header */
.logo {
  margin: 2rem;
}
.primary-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10%;
}
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);
  position: relative;
}
.primary-navigation::before {
  content: "";
  position: absolute;
  width: 23rem;
  height: 0.0625rem;
  opacity: 0.2515;
  background: var(--white-color);
  left: -39%;
  top: 50%;
  transform: translateY(-50%);
}
.primary-navigation li {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
  position: relative;
}
.primary-navigation li.active::before {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 0.1875rem;
  background: var(--white-color);
  bottom: -170%;
  left: 50%;
  transform: translate(-50%);
  display: block;
}
.primary-navigation li:not(.active):hover::before {
  content: "";
  position: absolute;
  width: 4.375rem;
  height: 0.1875rem;
  background: var(--white-color);
  opacity: 0.5;
  bottom: -170%;
  left: 50%;
  transform: translate(-50%);
  display: block;
}
.primary-navigation a > span {
  font-weight: bold;
  margin-inline-end: 0.75rem;
}
@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .primary-navigation::before {
    display: none;
  }
  .primary-navigation li {
    margin-bottom: 2em;
  }
  .primary-navigation li.active::before {
    display: none;
  }
  .primary-navigation li:not(.active):hover::before {
    display: none;
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0);
  }
  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url("../assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    display: block;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../assets/shared/icon-close.svg");
  }
}
@media (min-width: 35em) and (max-width: 58em) {
  .primary-navigation a > span {
    display: none;
  }
  .primary-navigation::before {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    padding-block: 2rem;
    padding-inline: clamp(3rem, 7vw, 10rem);
  }
  .primary-navigation::before {
    display: none;
  }
  .primary-navigation li {
    margin-right: clamp(1.5rem, 5vw, 3rem);
  }
  .primary-navigation li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 75em) {
  .primary-navigation::before {
    display: block;
  }
}
/* End header */
/* Start Main -home- */
.primary-content {
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
}
.primary-content .container {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.primary-content .container .text {
  display: inline-flex;
  padding-right: 0.3125rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  width: 470px;
}
.primary-content .container .text p {
  color: var(--second-color);
}
.primary-content .container .holder a .circul {
  width: 17.125rem;
  height: 17.125rem;
  display: flex;
  border-radius: 50%;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.primary-content .container .holder a .circul::before {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background: var(--white-color);
  top: 0;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
.primary-content .container .holder a .circul:hover::before {
  animation: circul 0.8s ease-out;
  animation-fill-mode: forwards;
}
.primary-content .container .holder a .circul h4 {
  color: var(--main-color);
}

@media (min-width: 35em) {
  .primary-content .container {
    gap: 200px;
  }
  .primary-content .container .text {
    text-align: center;
    gap: 1rem;
  }
  .primary-content .container .text h5 {
    color: var(--second-color);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875rem;
  }
  .primary-content .container .text p {
    color: var(--second-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
  }
}
@media (max-width: 75em) {
  .primary-content .container {
    gap: 200px;
    flex-direction: column;
  }
  .primary-content .container .text {
    text-align: center;
    gap: 1rem;
  }
  .primary-content .container .text h5 {
    color: var(--second-color);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16875rem;
  }
  .primary-content .container .text p {
    color: var(--second-color);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
  }
}
@keyframes circul {
  from {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }
  to {
    width: 28.125rem;
    height: 28.125rem;
    opacity: 0.1036;
  }
}
/* End Main */
/* Start main destination */
.primary-content.distination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  min-height: 0;
  padding: 0;
  height: fit-content;
  padding-bottom: 4%;
}
.primary-content.distination section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  width: 500px;
}
.primary-content.distination section:first-child h5 {
  display: inline-flex;
  gap: 1.75rem;
  font-size: 1.67rem;
  margin: 10px 0;
}
.primary-content.distination section:first-child h5 span {
  opacity: 0.25;
}
.primary-content.distination section:first-child img {
  margin: 30px 0 0;
}

@keyframes leaving {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.2) translateX(-200%);
    opacity: 0;
  }
  60% {
    transform: scale(0.2) translatex(200%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}
.primary-content.distination section:last-child {
  align-self: center;
  justify-self: center;
  width: 500px;
}
.primary-content.distination section:last-child nav ul {
  display: flex;
  width: 350px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.primary-content.distination section:last-child nav ul li {
  color: var(--white-color);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16875rem;
  position: relative;
  cursor: pointer;
}
.primary-content.distination section:last-child nav ul li.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: var(--white-color);
  bottom: -19px;
}
.primary-content.distination
  section:last-child
  nav
  ul
  li:not(.active):hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background: var(--white-color);
  bottom: -19px;
  opacity: 0.5;
}
.primary-content.distination section:last-child p {
  color: var(--second-color);
}
.primary-content.distination section:last-child hr {
  width: 100%;
  height: 0.0625rem;
  background: #383b4b;
  border: none;
  margin-top: 3.38rem;
}
.primary-content.distination section:last-child #numerical-info {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-content.distination section:last-child #numerical-info div {
  flex-grow: 1;
}
.primary-content.distination section:last-child #numerical-info div h6 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .primary-content.distination {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .primary-content.distination section:first-child {
    justify-content: space-around;
    padding-left: 30px;
    align-self: stretch;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 60px;
  }
  .primary-content.distination section:first-child h5 {
    align-self: flex-start;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .primary-content.distination section:first-child img {
    margin-top: 60px;
  }
  .primary-content.distination section:last-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 75px 35px 75px;
    box-sizing: border-box;
  }
  .primary-content.distination section:last-child nav {
    padding-bottom: 30px;
  }
  .primary-content.distination section:last-child p {
    text-align: center;
    max-width: 700px;
    min-height: 100px;
  }
  .primary-content.distination section:last-child #numerical-info {
    align-self: stretch;
    justify-content: space-around;
    margin-top: 10px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .primary-content.distination section:first-child {
    padding: 0;
  }
  .primary-content.distination section:first-child h5 {
    align-self: center;
    letter-spacing: 3px;
  }
  .primary-content.distination section:last-child {
    padding: 10px 30px 30px 30px;
  }
  .primary-content.distination section:last-child h1 {
    color: var(--white-color);
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .primary-content.distination section:last-child hr {
    margin-bottom: 30px;
  }
  .primary-content.distination section:last-child #numerical-info {
    flex-direction: column;
    padding: 0;
    height: 175px;
    margin-top: 25px;
    gap: 50px;
  }
}
/* End main destination */
/* Start main crew */
.primary-header.crew {
  margin: 0;
  margin-bottom: 30px;
}
.primary-content.crew {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  min-height: 0;
  padding: 0;
  height: fit-content;
  padding-left: 7%;
  padding-right: 7%;
}
.primary-content.crew section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 650px;
}
.primary-content.crew section:first-child h5 {
  display: inline-flex;
  gap: 1.75rem;
  font-size: 1.67rem;
  margin: 10px 0;
  width: 100%;
  justify-content: flex-start;
  text-transform: uppercase;
}
.primary-content.crew section:first-child h5 span {
  opacity: 0.25;
}
.primary-content.crew section:first-child .info-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15%;
}
.primary-content.crew section:first-child .info-text h4 {
  opacity: 0.5042;
  line-height: normal;
}
.primary-content.crew section:first-child .info-text h3 {
  font-size: 3.5rem;
}
.primary-content.crew section:first-child .info-text p {
  color: var(--second-color);
  margin-top: 40px;
  width: 90%;
}
.primary-content.crew section:first-child .nav-button {
  display: flex;
  width: 100%;
  margin-top: 15%;
}
.primary-content.crew section:first-child .nav-button ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
}
.primary-content.crew section:first-child .nav-button ul li {
  width: 15px;
  height: 15px;
  background: #5d5f64;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.primary-content.crew section:first-child .nav-button ul li.active {
  background-color: var(--white-color);
}
.primary-content.crew section:first-child .nav-button ul li:not(.active):hover {
  background: #ffffff67;
}
.primary-content.crew section:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-content.crew section:last-child img {
  width: 35.5045rem;
  height: 44.5rem;
}
@keyframes toTop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8) translateY(-20%);
    opacity: 0;
  }
  60% {
    transform: scale(0.8) translateY(200%);
    opacity: 0;
  }
  90% {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}
@media only screen and (max-width: 950px) {
  .primary-header.crew {
    margin: 0;
  }
  .primary-content.crew {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 20%;
  }
  .primary-content.crew section:first-child {
    grid-row-start: 2;
    box-sizing: border-box;
    border-top: 1px solid rgba(151, 151, 151, 0.5);
    padding: 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-self: flex-start;
    height: 250px;
    padding-top: 10px;
    width: 500px;
    position: relative;
  }
  .primary-content.crew section:last-child {
    grid-column: 1;
  }
  .primary-content.crew section:first-child {
    text-align: center;
  }
  .primary-content.crew section:first-child h5 {
    position: absolute;
    font-size: 1.2rem;
    top: -200%;
    justify-content: center;
  }
  .primary-content.crew section:first-child .info-text {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .primary-content.crew section:first-child .info-text h3 {
    font-size: 2.5rem;
  }
  .primary-content.crew section:first-child .nav-button {
    margin: 0;
    justify-content: center;
    padding-bottom: 50px;
  }
  .primary-content.crew section:first-child .nav-button ul {
    gap: 30px;
  }
  .primary-content.crew section:last-child {
    height: 350px;
    width: 350px;
  }
  .primary-content.crew section:last-child img {
    transform: translateX(0);
    height: 100%;
    width: 100%;
  }
}
/* End main crew */
/* Start main technology */
.primary-header.technology {
  margin-bottom: 100px;
}
.primary-content.technology {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  grid-template-columns: 1fr 1fr;
}
.primary-content.technology section:first-child {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 20%;
}
.primary-content.technology section:first-child h5 {
  display: inline-flex;
  gap: 1.75rem;
  font-size: 1.67rem;
  margin: 10px 0;
}
.primary-content.technology section:first-child h5 span {
  opacity: 0.25;
}
.primary-content.technology section:first-child > div {
  display: flex;
}
.primary-content.technology section:first-child > div .steps {
  padding-right: 60px;
}
.primary-content.technology section:first-child > div .steps ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.primary-content.technology section:first-child > div .steps ul li {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white-color);
  text-align: center;
  font-family: "Bellefair", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.125rem;
  border: 1px solid #ffffff7a;
  cursor: pointer;
  transition: 0.3s;
}
.primary-content.technology section:first-child > div .steps ul li.active {
  background: var(--white-color);
  color: var(--main-color);
}
.primary-content.technology
  section:first-child
  > div
  .steps
  ul
  li:not(.active):hover {
  border-color: var(--white-color);
}
.primary-content.technology section:first-child > div .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.primary-content.technology section:first-child > div .info p:first-child {
  color: var(--second-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16875rem;
}
.primary-content.technology section:first-child > div .info h3 {
  padding-bottom: 10px;
}
.primary-content.technology section:first-child > div .info p:last-child {
  color: var(--second-color);
  font-size: 1.25rem;
}
.primary-content.technology section:last-child {
  display: flex;
  justify-content: flex-end;
}
@keyframes disipir {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1000px) {
  .primary-content.technology {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
  }
  .primary-content.technology section:first-child {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
  .primary-content.technology section:first-child h5 {
    position: absolute;
    top: -80px;
    width: 80%;
    margin: 0;
  }
  .primary-content.technology section:first-child > div {
    flex-direction: column;
    text-align: center;
  }
  .primary-content.technology section:first-child > div .steps {
    padding: 0;
    margin-bottom: 20px;
  }
  .primary-content.technology section:first-child > div .steps ul {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .primary-content.technology section:first-child > div .info p:first-child {
    font-size: 0.875rem;
  }
  .primary-content.technology section:first-child > div .info h3 {
    font-size: 2rem;
  }
  .primary-content.technology section:first-child > div .info p:last-child {
    font-size: 0.9375rem;
  }
  .primary-content.technology section:last-child {
    grid-row: 1;
  }
  .primary-content.technology section:last-child img {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
}
/* End main technology */
